/* 
Paleta de cores:

#942A48 (Cards escuro)
#612F3D (Body)
#FAAAC1 (Cards claro)
#FFB8CC (Sombra de Card claro)
#FFE0E9 (Texto claro)
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(
    to bottom left,
    #942a48,
    #872c46,
    #7a2e43,
    #6e2f40,
    #612f3d
  );
}
