/* 
Paleta de cores:

#942A48 (Cards escuro)
#612F3D (Body)
#FAAAC1 (Cards claro)
#FFB8CC (Sombra de Card claro)
#FFE0E9 (Texto claro)
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
  background-image: linear-gradient(
    to bottom left,
    #942a48,
    #872c46,
    #7a2e43,
    #6e2f40,
    #612f3d
  );

  background-repeat: no-repeat;

  width: 100%;
  height: 100vh;

}

.box {
  display: flex;

  width: 250px;
  height: 250px;
  background-color: #faaac1;
  border-radius: 10px;

  justify-content: center;

  margin-top: 5px;
  padding: 10px;

  transition: transform 1s ease;
}

.box:hover{
    transform: scale(1.05);
}

.container {
  display: flex;
  justify-content: space-around;
  flex-direction: row;

  width: 80%;
  height: 100%;

  background-color: #F1f1f1;

  border-radius: 15px;

  padding: 20px;
}
